force-app/main/default/flows/SCREEN_Send_Event_SMS_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Was_Success</name>
        <label>Was Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_Message_Notification_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_Success_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Event_SMS_Notification.Was_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_Message_Notification_Success</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Manually sends (or resends) an SMS notification for an Event.</description>
    <environments>Default</environments>
    <interviewLabel>SCREEN - Send Event SMS Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Event SMS Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Send_SMS_Message_Notification</name>
        <label>Send SMS Message Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Event_SMS_Notification</targetReference>
        </connector>
        <fields>
            <name>Send_SMS_Message_Notification_Message</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <stringValue>Are you sure you want to send a new SMS notification message?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_SMS_Message_Notification_Error</name>
        <label>Send SMS Message Notification Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Send_SMS_Message_Notification_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_SMS_Message_Notification_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Send_SMS_Message_Notification_Error_Message</name>
                    <extensionName>flowruntime:message</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageType</name>
                        <value>
                            <stringValue>error</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageContent</name>
                        <value>
                            <stringValue>Error sending notification. Provide your sys admin the details:</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Send_SMS_Message_Notification_Error_Display</name>
                    <fieldText>&lt;p&gt;{!Send_Event_SMS_Notification.Error_Message}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <styleSettings>
                            <propertyName>--flowruntime-c-displaytext-border-color</propertyName>
                            <propertyValue>
                                <stringValue>#F3F3F3</stringValue>
                            </propertyValue>
                        </styleSettings>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_SMS_Message_Notification_Success</name>
        <label>Send SMS Message Notification Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Send_SMS_Message_Notification_Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_SMS_Message_Notification_Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Send_SMS_Message_Notification_Success_Message</name>
                    <extensionName>flowruntime:message</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageType</name>
                        <value>
                            <stringValue>success</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageContent</name>
                        <value>
                            <stringValue>Successfully Sent Event SMS Notification</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Send_SMS_Message_Notification_Link</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!Send_Event_SMS_Notification.SMS_Record_ID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;View Record&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_SMS_Message_Notification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Event_SMS_Notification</name>
        <label>Send Event SMS Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Success</targetReference>
        </connector>
        <flowName>SUBFLOW_Send_Event_SMS_Notification</flowName>
        <inputAssignments>
            <name>Event</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
