force-app/main/default/flows/SUBFLOW_Send_Event_SMS_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Formatted_End_Date_Time</name>
        <label>Get Formatted End Date Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DateTimeFormatterInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_SMS</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputDateTime</name>
            <value>
                <elementReference>Event.EndDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DateTimeFormatterInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Formatted_Start_Date_Time</name>
        <label>Get Formatted Start Date Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DateTimeFormatterInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Formatted_End_Date_Time</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputDateTime</name>
            <value>
                <elementReference>Event.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DateTimeFormatterInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message_Fault</name>
        <label>Assign Error Message - Faultass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Was_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_No_Contact</name>
        <label>Assign Error Message - No Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Contact record is set for this Event record.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Was_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_No_Mobile</name>
        <label>Assign Error Message - No Mobile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact&apos;s Mobile Phone is not populated.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Was_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Was_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMS_Record_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_SMS.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message_No_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Mobile_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Mobile_Populated</name>
        <label>Contact Mobile Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message_No_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_Mobile_Populated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Contact.MobilePhone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Formatted_Start_Date_Time</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates an SMS notification record for a given Event record, if the WhoId is a Contact, and if the Contact&apos;s Mobile field is populated.</description>
    <environments>Default</environments>
    <formulas>
        <name>SMS_Body</name>
        <dataType>String</dataType>
        <expression>&apos;Subject: &apos; + {!Event.Subject} + BR() +
&apos;Start: &apos; + {!Get_Formatted_Start_Date_Time.formattedDate} + &apos; at &apos; + {!Get_Formatted_Start_Date_Time.formattedTime} + BR() + 
&apos;End: &apos; + {!Get_Formatted_End_Date_Time.formattedDate} + &apos; at &apos; + {!Get_Formatted_End_Date_Time.formattedTime}</expression>
    </formulas>
    <interviewLabel>SUBFLOW - Send Event SMS Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUBFLOW - Send Event SMS Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS</name>
        <label>Create SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>encsms__Text__c</field>
            <value>
                <elementReference>SMS_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>encsms__To__c</field>
            <value>
                <elementReference>Get_Event_Contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>encsms__What_Id__c</field>
            <value>
                <elementReference>Event.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>encsms__Who_Id__c</field>
            <value>
                <elementReference>Get_Event_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>encsms__SMS_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_Contact</name>
        <label>Get Event Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>SMS_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Was_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
